@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Source+Sans+Pro&family=Roboto:wght@400;500&family=JetBrains+Mono:wght@600&&display=swap');

:root {
    --first-color: #1A73E8;
    --input-color: #80868B;
    --border-color: #DADCE0;

    --code-font: "JetBrains Mono", monospace;
    --body-font: "Roboto", sans-serif;
    --footer-font: "Inter", sans-serif;
    --copyright-font: "Roboto", sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

html {
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    overflow-x: hidden;

}

.head {
    padding: 15rem .1rem 5vh;
}


h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--code-font);
    font-size: 4rem;
    margin: 0.5em 0 0.3em;
    color: #1b1e21;
}

h1.header__h1 {
    padding-bottom: 8vh;
    font-size: 8vw;
}

h1 {
    margin: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 0.4rem;
    color: #9495A4;
    font-size: 1.2rem;
}

h3 {
    color: #9495A4;
    margin-bottom: 0.4rem;
}

h4 {
    margin-bottom: 0.4rem;
    font-size: 1.5rem;
}

.desc2 {
    background-color: #0f0f10;
    color: white;
    padding-bottom: 8vh;
    padding-left: 4vw;
    padding-right: 4vw;
    text-align: center;
    font-size: 6vw;
}

/*add media!!! base on device height*/
.desc3 {
    background-color: #0f0f10;
    color: white;
    text-align: center;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 3.5vw;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.dark {
    padding-bottom: 12vh;
    padding-top: 12vh;
    background: #0f0f10;
}

/*------------------------------Li hover anim*/
li {
    position: sticky;
}

li::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

li::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
}


/*------------------------------Footer*/
.footer {
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    border-radius: 1rem;
    background: #fff;
    max-width: 45rem;
    margin: 5rem auto;
    padding: 4rem 2rem .2rem 2rem;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-row-gap: 3rem;
}

@media (max-width: 600px) {
    .footer {
        padding: 4rem 5rem .2rem 4rem;
    }
}

.footer__row--1 {
    font-family: var(--footer-font);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
}

.footer__row--2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__col {
    margin-bottom: 2rem;
}

.footer__list {
    list-style: none;
}

.footer__mail {
    font-family: var(--body-font);
    list-style: none;
    display: inline-block;
}

.footer__items {
    display: inline-block;
    font-weight: 600;
}

.footer__items:not(:last-child) {
    margin-bottom: 0.4rem;
}

.footer__legal {
    font-weight: 600;
}

.footer__copyright {
    font-family: var(--copyright-font);
    font-weight: 300;
}

.footer__social {
    margin-top: 2rem;
}

.footer__icon {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

/*------------------------------Nav Bar*/
nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: translateY(-20%) translateZ(0);
    transform: translateY(-20%) translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.6s .5s ease;
    display: inline-block;
    position: absolute;
    text-align: center;
    margin: 40px 0 0;
    width: 100%;
    opacity: 0;
    z-index: 3;
    left: 0;
    top: 0;
}

@media (prefers-reduced-motion) {
    nav {
        -webkit-transition: none;
        transition: none
    }
}

@media (max-width: 700px) {
    nav {
        margin: 26px 0 0;
    }
}

@media (max-height: 600px) {
    nav {
        margin: 26px 0 0;
    }
}

html.no-js nav, html.no-modern nav, nav.nav--active {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    opacity: 1
}

nav.nav--unsticky {
    -webkit-transition: none;
    transition: none
}

nav.nav--publish {
    opacity: 0
}

nav.nav--sticky {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    box-shadow: 0 2px 7px rgba(34, 43, 52, 0.1), 0 1px 0 rgba(227, 230, 233, 0.5);
    background: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    opacity: 1;
    margin: 0;
    left: 0;
    top: 0
}

@media (max-height: 350px) {
    nav.nav--sticky {
        display: none
    }
}

nav.nav--sticky a {
    color: #49535e;
    font-size: 13px;
    padding: 25px 0 0
}

nav.nav--sticky a:after {
    height: 3px !important;
    margin-top: 22px !important
}

@media (max-width: 700px) {
    nav.nav--sticky a {
        padding: 14px 0 0
    }

    nav.nav--sticky a:after {
        margin-top: 11px !important
    }
}

@media (max-height: 720px) {
    nav.nav--sticky a {
        padding: 20px 0 0
    }

    nav.nav--sticky a:after {
        margin-top: 17px !important
    }
}

@media (max-height: 650px) {
    nav.nav--sticky a {
        padding: 18px 0 0
    }

    nav.nav--sticky a:after {
        margin-top: 15px !important
    }
}

@media (max-height: 600px) {
    nav.nav--sticky a {
        padding: 14px 0 0
    }

    nav.nav--sticky a:after {
        margin-top: 11px !important
    }
}

@media (max-width: 319px) {
    nav.nav--sticky a {
        font-size: 11px
    }
}

@media (min-width: 1360px) {
    nav.nav--sticky a {
        font-size: 14px
    }
}

@media (min-width: 1700px) {
    nav.nav--sticky a {
        font-size: 15px
    }
}

html:not(.touch) nav:hover a.active:after {
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    background: transparent;
    display: block;
    margin: auto;
    margin-top: 3px;
    content: "";
    height: 2px;
    width: 0
}

html:not(.touch) nav:hover a.active:hover {
    color: #ed4b37
}

html:not(.touch) nav:hover a.active:hover:after {
    background: #ed4b37;
    width: 100%
}

nav a {
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    padding: 6px 0;
    margin: 0 10px;
    color: #2e3133;
    border: 0
}

@media (max-width: 700px) {
    nav a {
        letter-spacing: 0.65px;
        margin: 0 7px
    }
}

@media (max-width: 340px) {
    nav a {
        margin: 0 5px
    }
}

@media (min-width: 1360px) {
    nav a {
        font-size: 15px
    }
}

@media (max-width: 319px) {
    nav a {
        font-size: 12px
    }
}

@media (min-height: 1050px) and (min-width: 1700px) {
    nav a {
        margin: 0 14px;
        font-size: 16px
    }
}

html:not(.touch) nav a:hover {
    color: #2389ee
}

nav a.active {
    color: #ed4b37
}

nav a.active:after {
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    background: #ed4b37;
    display: block;
    margin: auto;
    margin-top: 3px;
    content: "";
    width: 100%;
    height: 2px
}

nav a.active:hover:after {
    background: #ed4b37;
    width: 100%
}

nav a:after {
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    background: transparent;
    display: block;
    margin: auto;
    margin-top: 3px;
    content: "";
    height: 2px;
    width: 0
}

html:not(.touch) nav a:hover:after {
    background: #2389ee;
    width: 100%
}

@media (max-width: 300px) {
    nav [data-contact] {
        display: none
    }
}

html.facebook nav.nav--sticky {
    display: none !important
}

.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-shadow: 0 -1px 1px 0 rgba(34, 43, 52, 0.05), 0 1px 2px 0 rgba(34, 43, 52, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal 500 14px/1.6 "graphik-custom", "Geneva", sans-serif;
    text-transform: uppercase;
    transition: all .2s ease;
    display: inline-block;
    background: #ed4b37;
    border-radius: 50px;
    letter-spacing: 1px;
    position: relative;
    padding: 14px 30px;
    word-spacing: 1px;
    min-width: 160px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    color: #fafbfb;
    width: auto;
    border: 0
}

.btn.btn--contact {
    width: 320px;
    height: 50px
}

p.lead, .punctuation.lead {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 2rem auto 2.19048em;
    font-family: "graphik-custom", "Geneva", sans-serif;
    text-align: center;
    max-width: 620px;
    font-weight: 400;
    font-size: 21px;
    color: #6c757d;
}


.waveS {
    background-color: #fff;
    display: block;
    padding-top: 75px;
}


.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: black; /*refef*/
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 10vh;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }
}

/* 5 */
button {
    margin: 20px;
}

.custom-btn {
    width: 350px;
    height: 40px;
    color: #fff;
    border-radius: .5rem;
    font-family: var(--normal-font-size);
    font-size: var(--normal-font-size);
    background: transparent;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    outline: none;
    display: block;
    margin-left: auto;
    padding: .75rem 10rem;
}

.btn-5 {
    width: 230px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.btn-5:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow: -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
